﻿@model Onlinebank_rework.Models.LoginViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div asp-validation-summary="All"></div>
<form action="Login" method="post">

    <label>User Name</label>
    <input type="text" placeholder="User Name" asp-for="Username"/>
    <label>Password </label>
    <input type="password" placeholder="Password"  asp-for="password"/>
    <input type="submit" value="Login" />
</form>
