﻿@model Onlinebank_rework.Models.RegistrationViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div asp-validation-summary="All"></div>

<form action="Register" method="post">
    <label>Full Name</label>
    <input type="text" asp-for="FullName" />

    <label>User Namee</label>
    <input type="text" asp-for="UserName" />

    <label>Email</label>
    <input type="email" asp-for="Email" />

    <label>Password</label>
    <input type="password" asp-for="Password" />

    <input type="submit" value="Register" />
</form>
